/* purgecss start ignore */

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/product-sans-regular.ttf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/product-sans-bold.ttf');
  font-weight: bold;
  font-display: swap;
}

html {
  font-family: 'Product Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-display: swap;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;

  @screen sm {
    font-size: 16px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.html-content {
  p {
    @apply leading-normal;
  }
  p, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  li {
    margin-left: 2rem;
  }

  a {
    color: #009BDA;
  }
}

.html-content.html-content--preview {
  p {
    display: inline;
  }
}

.container {
  @screen lg {
    max-width: 1280px;
  }
}

.news-source {
  font-size: 10px;
  @apply bg-brand-blue-darker text-white py-1 px-3 rounded-full text-center;
}

.news-date {
  color: #757575;
  @apply text-xs;
}


.appbar-desktop {
  @apply hidden;

  @screen lg {
    @apply block mx-4;
  }

  &__wrapper {
    @apply flex justify-between items-center;
  }

  &__brand {
    @apply flex items-center;
  }

  &__brand-logo {
    @apply block w-auto h-10 mx-auto mr-4
    object-contain object-center;
  }

  &__menus {
    @apply flex flex-row items-center;

    &__list-item--has-children:hover {
      .appbar-menu-item__dropdown {
        display: block;
      }
    }
  }

  &__menu-item {
    @apply hidden cursor-pointer mx-2 px-2 py-2
    whitespace-no-wrap;

    @screen lg {
      @apply flex;
    }

    &:hover {
      @apply bg-gray-200;
    }
  }

  &__menu-item-parent {
    @apply hidden cursor-pointer mx-2 px-2 py-2;

    @screen lg {
      @apply flex;
    }

    &:hover {
      @apply bg-gray-200;
    }
  }

  &__menu-item-child {
    @apply hidden cursor-pointer mx-2 px-2 py-2;

    @screen lg {
      @apply flex;
    }

    &:hover {
      @apply bg-gray-200;
    }
  }

  .appbar-menu-item {
    @apply text-sm;
  }
  .appbar-menu-item:not(.nuxt-link-active) {
    &,
    > * {
      @apply text-gray-500 font-bold;
    }
  }
  .appbar-menu-item.nuxt-link-active {
    &,
    > * {
      @apply text-brand-green font-bold;
    }
  }

  .appbar-menu-item__dropdown {
    @apply hidden absolute rounded bg-white pb-3
    border border-solid border-gray-300
    shadow-md;
  }
}

/* purgecss end ignore */
// .calendar-right-to-left{
//   margin-left: -650px !important;
// }
